@model IEnumerable<ElevenNote.Models.NoteListItem>
@* This view is created based on the NoteListItem Model. if that changes we'd want to redo this (or update it?) *@
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    <!--ContainsKey checks to see if that key is in the dictionary but will no remove it -->
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @* this was added in 7.02 -- the message will not appear b/c of the redirect to action in the controller - fix that ALSO this is in the Index View becuase after we submit the create button we go back to the index...  *@
        @*@ViewBag.SaveResult*@
        @TempData["SaveResult"]
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NoteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>
    <!-- look at the  App_Start -> RouteConfig.cs. file for some notes about how this app bulds the URL slug    -->
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.NoteId }) | <!-- chnaged this in step 8.02 this is so that we communicate with the NoteController to edit (deatails/delete) the correct note-->
                @Html.ActionLink("Details", "Details", new { id = item.NoteId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.NoteId })
            </td>
        </tr>
    }

</table>
